<launch> 
  <arg name="world_path" default="$(find simulation)/worlds/cloister.world" />

 <!-- 为了不与cartogra发布的odom冲突，这里配置飞机不发布odom tf ,但是注意这样配置并不会影响其发布odom相关的topic-->
  <arg name="px4_config" default="$(find simulation)/resource/px4_config_noTF.yaml" />

  <!--定位，cartogra节点将接收3d激光雷达以及无人机的imu话题-->
  <arg name="cartogra_config" default="$(find ros_slam)/launch/cartographer_3Dlidar_location.launch" />

  <include file="$(find simulation)/launch/px4/3Dlidar_px4.launch">
    <arg name="world_path" value="$(arg world_path)" />
    <arg name="px4_config" value="$(arg px4_config)" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="tf_imu"
          args="0 0 0 0 0 0 base_link imu_link 20"/>

	<include file="$(arg cartogra_config)">
	</include>

	<node pkg="simulation" type="keyboard_control_px4.py" name="keyboard_control_px4" output="screen" launch-prefix="gnome-terminal --tab -e">
    </node>

  <include file="$(find px4_command)/launch/cartogra_tf_to_mavros.launch">
   </include>

    <!-- RViz -->
    <node pkg="rviz" type="rviz" output="screen" name="rviz" respawn="true"
          args="-d $(find ros_slam)/rviz/cartographer_3D.rviz" />
</launch>

