<launch> 
  <arg name="world_path" default="$(find simulation)/worlds/densityColumn.world" />

  <include file="$(find simulation)/launch/px4/2Dlidar_px4.launch">
    <arg name="world_path" value="$(arg world_path)" />
  </include>
  <include file="$(find px4_command)/launch/collision_avoidance_vfh.launch" >
  </include>

	<node pkg="px4_command" type="set_mode" name="set_mode" output="screen" launch-prefix="gnome-terminal --tab -e">
    </node>
</launch>

