<launch> 

	<!-- offboard 模式下进行2D navigation-->
	<!-- 
	desire_posz_：期望高度 
	-->
	
  <arg name="world_path" default="$(find simulation)/worlds/cloister.world" />

  <include file="$(find simulation)/launch/px4/2Dlidar_px4.launch">
    <arg name="world_path" value="$(arg world_path)" />
  </include>

    <include file="$(find ros_slam)/launch/gmapping.launch">
    </include>

    <include file="$(find ros_navigation)/launch/nav_px4.launch">
    </include>

     <include file="$(find px4_command)/launch/ros_2DNav.launch">
 	<arg name="desire_posz_" value="2" />
    </include>
 
    <node pkg="simulation" type="keyboard_control_px4.py" name="keyboard_control_px4" output="screen" launch-prefix="gnome-terminal --tab -e">
    </node>

</launch>

