# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\WORK\01学校\03选修\3.1python\第5次上机作业\DnCNN-Denoise-Gaussian-noise-TensorFlow-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
